.card {
  min-height: 16rem;
  border: solid 1px  var(--clr-accent-400);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  border-radius: calc(0.25rem + 1rem);
}

.answer {
  background-color: var(--clr-accent-100);
  animation:  rotateCard 300ms;
  backface-visibility: hidden;
}

@keyframes rotateCard {
  from {
    transform: rotateY(180deg) 
  }
}