.collapseButton {
  background-color: var(--clr-accent-100);
  width: 100%;
  padding: 1.5rem;
  margin-block-end: 1rem;
  border-radius: 0.8rem;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titleTextContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;
}

.title {
  opacity: 0.6;
}

.tag {
  border: 1px solid var(--clr-accent-400);
  padding: 0.5rem 1rem;
  border-radius: 100vh;
  font-weight: 500;
  white-space: nowrap;
  font-size: 0.8rem;
}

.iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 300ms ease-in-out;
}

.collapsedContent {
  overflow: hidden;
  transition: all 600ms ease-in-out;
}

.rotate {
  transform: rotate(180deg);
}