@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:ital,wght@0,300..700;1,300..700&display=swap');

:root {
  --clr-accent-400: hsl(263, 79%, 66%);
  --clr-accent-100: hsl(258, 100%, 97%);
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
}

code {
  font-family: "Red Hat Mono", monospace;
  font-optical-sizing: auto;
  font-size: 0.9rem;
  font-weight: 400;
}

button {
  font-family: inherit;
  color: inherit;
  cursor: pointer;
}

main, header {
  padding: 1rem;
  max-width: 30rem;
  margin-inline: auto;
}