@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
  --clr-accent-400: hsl(263, 79%, 66%);
  --clr-accent-100: hsl(258, 100%, 97%);
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
}

button {
  font-family: inherit;
  color: inherit;
}

main {
  padding: 1rem;
  max-width: 30rem;
  margin-inline: auto;
}